.scoreboardtable {
    table-layout: auto;
}


td {
    width: 100px;
    border: solid 1px;
    text-align: center;
  }

tr {
    height: 15vh;
}

.flexycont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table {
    width: 90vw;
}

.SalesPerson {
    background-color:  #ccc;
}

.tableHeader {
    background-color: #CB35A3;
    color: white;
}